@import "tailwindcss";

@theme {
  --font-heading: var(--font-cinzel);
  --font-body: var(--font-montserrat);

  --color-brand-gold: #D4AF37;
  --color-brand-black: #0a0a0a;
  --color-brand-dark: #050505;
  --color-brand-gray: #0f0f0f;
}

@layer base {
  body {
    background: var(--color-brand-black);
    color: #ededed;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}

/* Swiper Pagination Customization */
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 0.3 !important;
  width: 10px !important;
  height: 10px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #D4AF37 !important; /* Brand Gold */
  opacity: 1 !important;
  width: 30px !important; /* Pill shape for active state */
  border-radius: 5px !important;
}